/* 基本設定 */
:root {
    /* ベースとなるプライマリ（シアン系） */
    --primary-50: rgb(236 254 255);
    --primary-100: rgb(207 250 254);
    --primary-200: rgb(165 243 252);
    --primary-300: rgb(103 232 249);
    --primary-400: rgb(34 211 238);
    --primary-500: rgb(6 182 212);
    --primary-600: rgb(8 145 178);
    --primary-700: rgb(14 116 144);
    --primary-800: rgb(21 94 117);
    --primary-900: rgb(22 78 99);
    
    --bg-color: #111;
    --card-bg: #ffffff;
}

body {
    font-family: Roboto, 'Note Sans JP';
    background-color: var(--primary-50);
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1vh;
}

/* ヘッダー */
header {
    background-color: var(--bg-color);
    color: whitesmoke;
    padding: 4vh 0;
    text-align: center;
    border-bottom: 1vh solid var(--primary-400);
}

a {
  color: #00ffff;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.header-img {
	display: block;    /* ブロック要素に変更 */
    margin-left: auto; /* 左の余白を自動 */
    margin-right: auto;/* 右の余白を自動 */
	width: 100vmin;
}

.subtitle {
    margin-top: 10px;
    opacity: 0.9;
    font-weight: bold;
}

/* メインカード */
.hero-card {
    background: var(--bg-color);
    padding: 2dvh 2dvw;
    border-radius: 2dvmax;
    color: whitesmoke;
    box-shadow: 0 1dvmin 2dvmin rgba(0,0,0,0.25);
    margin-bottom: 2dvmin;
}

.hero-card h2 {
    color: var(--primary-color);
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

.link-highlight {
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
}

.link-highlight:hover {
    text-decoration: underline;
}

.feature-list {
    list-style: none;
    padding: 0;
}

.feature-list li {
    margin: 10px 0;
    padding-left: 5px;
}

/* ボタン */
.button-container {
    text-align: center;
    margin-bottom: 1vmin;
}

.btn {
    display: inline-block;
    padding: 2dvh 2dvw;
    background-color: var(--primary-300);
    color: #333;
    text-decoration: none;
    border-radius: 4dvmax;
    font-weight: bold;
    transition: transform 0.2s, background-color 0.2s;
    margin: 2vmin;
    box-shadow: 0 1dvmin 2dvmin rgba(0,0,0,0.25);
}

.btn:hover {
    background-color: var(--primary-200);
    transform: translateY(1dvmin);
}

/* フッター */
footer {
    text-align: center;
    padding: 2dvh;
    font-size: 0.6rem;
    color: #888;
}